// Admin Bar
// -----------------------
/*
#wpadminbar {
	
	background-color: $scheme-700 !important;

	.menupop .ab-sub-wrapper,
	.shortlink-input {
		background-color: $scheme-700 !important;
		color: $scheme-50 !important;
	}		
		
	.ab-top-menu > li.hover > .ab-item,
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	&:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	&:not(.mobile) .ab-top-menu > li > .ab-item:focus {
   		background-color: $scheme-700 !important;
   		color: $scheme-50 !important;
	}


	&:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	&:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	.ab-top-menu > li.hover > .ab-item {
	
		color: $white;
	}

	&:not(.mobile) > #wp-toolbar li:hover span.ab-label,
	> #wp-toolbar li.hover span.ab-label,
	&:not(.mobile) > #wp-toolbar a:focus span.ab-label {
		color: $white;
	}

	.quicklinks .menupop ul li a:hover,
	.quicklinks .menupop ul li a:focus,
	.quicklinks .menupop ul li a:hover strong,
	.quicklinks .menupop ul li a:focus strong,
	.quicklinks .ab-sub-wrapper .menupop.hover > a,
	.quicklinks .menupop.hover ul li a:hover,
	.quicklinks .menupop.hover ul li a:focus,
	&.nojs .quicklinks .menupop:hover ul li a:hover,
	&.nojs .quicklinks .menupop:hover ul li a:focus,
	li:hover .ab-icon:before,
	li:hover .ab-item:before,
	li a:focus .ab-icon:before,
	li .ab-item:focus:before,
	li.hover .ab-icon:before,
	li.hover .ab-item:before,
	li:hover #adminbarsearch:before,
	li #adminbarsearch.adminbar-focused:before {
		color: $white;
	}


	#wp-admin-bar-user-info .username {
		color: $white;
	}



		
} // wpadminbar
*/


::-moz-selection {
	background-color: $accent-500;
}

::selection {
	background-color: $accent-500;
}


mark, .mark {
	background-color: $accent-500;
}

// Utility classes
// -----------------------

.brand-accent {
	color: $accent-500;
}


// Links
// -----------------------

a {
	color: $link-color;
	&:hover, &:focus, &:active {
		color: $scheme-300;
	}
}

.site-header {
	background-color:     $scheme-500;
	border-bottom-color:  $scheme-500;
	a {
		color: $white;
		&:hover, &:focus, &:active {
			color:	$scheme-50;
		}
	}
} // site-header

.menu-secondary {

	a {
		color: $google-grey-700;
	}

	a:hover,
	a:focus,
	a:active,
	.current-menu-item > a,
	.current-menu-item > a:hover,
	.current-menu-item > a:focus,
	.current-menu-item > a:active {
		color: $scheme-500;
	}
	


}


.site-inner {
	background-color: $site-inner-bg;

}


.entry-header .entry-meta a,
.entry-header .entry-meta a:hover,
.entry-header .entry-meta a:focus,
.entry-header .entry-meta a:active {
	color: $scheme-500;
}

.entry-comments,
#disqus_thread {
	border-top-color: $accent-500;
}




// -----------------------
.pagination {

	li {
		a {

			color:           	$accent-500;
			
			&:hover,
			&:focus,
			&:active {
				color:          $accent-300;
			}			
		}
	
		&.active a {
			border-color:     $border-color;
			background-color: $pagination-item-current-bg;
			color:            $pagination-item-current-color;
		}
	}

}

.entry-pagination {
	a,
	> span {
		color: $accent-500;
		border-color: $accent-500;
	}
	
	> span { // current / active
		border-color: $border-color;
		color: $text-color;
	}
	
	a {
		
		&:hover,
		&:active,
		&:focus {
			color: $accent-300;
			border-color: $accent-300;

		}
		
	}
	
}

// -----------------------
.footer-widgets {
	background-color: $footer-widgets-bg;
	a {
		color: $scheme-100;
		&:hover, &:focus, &:active {
			color: $scheme-50;
		}
	}
} // footer-widgets

.site-footer {
	background-color: $site-footer-bg;

}


// Forms
input:focus, textarea:focus {
	border-color: $scheme-300;
}

// Buttons
// -----------------------

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {

	color: $text-color;
	
	&:hover,
	&:focus,
	&:active {
		color: $white;	
	}


	&.button-primary{
		
		@if($button-primary-border-width != 0px) {
			border-color: $accent-500;
		}
		background-color: $accent-500;
		color: $white;
	
	}
	
	
	&.button-secondary{
		
			color: $text-muted;
	
	}
}

.button-success,
.button-info,
.button-warning,
.button-danger {
	color: $white;	
}

// Border color
.blog .entry,
.archive .entry
{
	border-color: $border-color;
}


.accent-500 {color: $accent-500}