/* CSS Document */
.pnet2016-frontpage {

	.site-tagline {
	
		background-color: $apricot;
		color: $white;
		
		@include opacity(.9);


		/* Animated background https://www.gradient-animator.com/
		--------------------------------------------------------------*/
		background: linear-gradient(270deg, $strawberry, $apricot );
		background-size: 400% 400%;
		
		-webkit-animation: AnimationName 30s ease infinite;
		-moz-animation: AnimationName 30s ease infinite;
		animation: AnimationName 30s ease infinite;
		
		@-webkit-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@-moz-keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}
		@keyframes AnimationName {
			0%{background-position:0% 50%}
			50%{background-position:100% 50%}
			100%{background-position:0% 50%}
		}

		.button-cta {
			background-color: $white;
			border: 1px solid $border-color;;
			color: $text-color;
			
			&:hover,
			&:focus,
			&:active {
				border-color: $text-color;
			}
			
		} // button-cta

	}


	&.custom-background .site-tagline {
		margin-top: 390px;
	}


}


@media only screen and (max-width: 1200px) { }

@media only screen and (max-width: 960px) {
	.pnet2016-frontpage.custom-background .site-tagline {
		margin-top: 200px;
	}
}

@media only screen and (max-width: 767px) {
	.pnet2016-frontpage.custom-background .site-tagline {
		margin-top: 200px;
	}	
}


@media only screen and (max-width: 480px) {}