/* Genesis Classes
-----------------------------------*/

// Breadcrumbs
// -------------------------

.breadcrumb {
	@include font-size( $font-size-breadcrumb );
	margin-bottom: $breadcrumb-margin-bottom;
	color: $text-muted;
}

// Archive Headings
// -------------------------



.archive-description {
	
	// background-color: yellow;
	// margin-bottom: 60px; // same as page title - really?
	

	&.author-archive-description {}
	&.author-description {}
	
	&.taxonomy-archive-description {}
	&.taxonomy-description {}
	
}


.archive-title {}

/*
.archive-description {

	background-color: $white;
	border: 1px solid $border-color;
	margin-bottom: 2em;

	padding: 1.5em 1.5em 1em;

	
	p {
		margin-bottom: 1em;
		&:last-of-type {

		}
	}

}
*/




// Author Box
// -------------------------

.author-box {
	background-color: $white;
	border: 1px solid $border-color
}


.author-box {

	background-color: #ffffff;
	border: 1px solid $border-color;


	margin-bottom: $line-height-computed;
	padding: $line-height-computed;

	margin-bottom: 1.5em;
	padding: 1.5em;

	
	
	@include font-size($font-size-small);

	
	.avatar {
		margin-right: $line-height-computed;
	}

	p {
		margin-bottom: $line-height-computed/2;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}	
	
	
}

.single .author-box {
	// margin-bottom: $line-height-computed;
}

.author-box-title {
	color: $headings-color;
	font-family: $font-family-headings;

	@include font-size($font-size-h5);


	font-weight: 400;
	margin-bottom: .5em;
}