.dark-bg {
	background-color: $chocolate;
	color:white;
	
	h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
		color: white;	
	}
	
		
}



.hidden {
	display:none;
}


.hidden-small {
	@media only screen and (max-width: 960px) {
		display: none;
	}
}


.word-wrap {
	@include word-wrap();
}


a.meetup,
a.download,
a.external,
a.android
{
	&:after {
		display: inline-block;
		margin-left: 4px;
		font-family: FontAwesome;
	}

}

a.external:after { content: "\f08e" }
a.android:after  { content: "\f17b" }
a.download:after  { content: "\f019" }
a.meetup:after  { content: "\f2e0" }


