/* Layout Widths and Positions
-----------------------------------*/

.content {
	float: right;
	width: $content-width;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	float: none;
	width: 100%;
}

.sidebar {
	float: right;
	width: $sidebar-primary-width;
}

.sidebar-content .sidebar {
	float: left;
}