/**** Isotope filtering ***
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
*/


/* 2 Columns
 
.grid {
	.phut_theme,
	.column-sizer {
		width: 48%;
	}
	.gutter-sizer {
		width: 4%;
	}
}
______________________________*/


/* 3 Columns
______________________________*/
.grid {
	.phut_theme,
	.column-sizer {
		width: 31.623931623931625%;
	}
	.gutter-sizer {
		width: 2.564102564102564%;
	}
}


/* 4 Columns
______________________________*/
.grid {
	.phut_theme,
	.column-sizer {
		// width 1200px gutter 16px
		width: 23.0769%;
		width: 24%;
	}
	.gutter-sizer {
		width: 1.33333333333333333%;
	}
}








@media only screen and (max-width: 960px) {
	.grid {
		.phut_theme,
		.column-sizer {
			width: 48%;
		}
		.gutter-sizer {
			width: 4%;
		}
	}	
	
}



@media only screen and (max-width: 480px) {

	.grid {
		.phut_theme,
		.column-sizer{
			width: 100%;
		}
		.gutter-sizer {
			width: 0%;
		}
	}
}