/* iPad Portrait
-----------------------------------------------*/
@media only screen and (max-width: 960px) {

	.wrap {
		max-width: $wrap-width-960;
	}

	// Get stacking
	// --------------------------

	.footer-widgets .widget-area,
	.title-area,
	.header-widget-area,
	.eleven-twelfths,
	.ten-twelfths,
	.nine-twelfths,
	.eight-twelfths,
	.seven-twelfths,
	.six-twelfths,
	.five-twelfths,
	.four-twelfths,
	.three-twelfths,
	.two-twelfths,
	.one-twelfth,
	.five-sixths,
	.four-sixths,
	.three-sixths,
	.two-sixths,
	.one-sixth,
	.four-fifths,
	.three-fifths,
	.two-fifths,
	.one-fifth,
	.three-fourths,
	.two-fourths,
	.one-fourth,
	.two-thirds,
	.one-third,
	.one-half {
		float: none;
		margin-left: 0;
		width: 100%;
	}



	
	.sidebar,	
	.content-sidebar .content,
	.sidebar-content .content
	
	{
		float: none;
		width: 100%;
	}
	



	// Center text
	.site-header .widget-area,
	.title-area,
	.nav-header
	{
		text-align:center;
	}



	.site-header {
		position: static;
		box-shadow:none;
	}

	.site-inner {
		
	}



	.header-image .site-title a {
		margin: 0 auto;
	}

	/*
	.site-header .search-form {
		float: none;
		margin: 0 auto;
		width: 50%;
	}
	*/
	
	.site-header .widget-area {
		// padding-top: 0;
		// padding-bottom: 0;
	}

	
	
	.site-tagline {
		margin-top: 0;
		// padding: 20px 0;
	}


	.site-description {
		@include font-size( 30px );
	}

	





	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu {
		float: none;
	}

	.site-tagline-left p { }





	.site-footer {

		padding-top: 2em;
		padding-bottom: 2em;
	}


	// Horizontal padding
	#phutccg,
	.entry-comments,
	#disqus_thread,
	.pagination.adjacent-entry-pagination,
	.page .entry,
	.single .entry {
		padding-left:60px;
		padding-right:60px;
	}


	.site-header,
	.site-inner,
	.before-footer-widgets,
	.footer-widgets,
	.nav-primary,
	.site-footer,
	.site-tagline {
		padding-left: 4%;
		padding-right: 4%;
	}



}
