/* iPad Landscape
-----------------------------------------------*/
@media only screen and (max-width: 1200px) {


	// Layouts
	.wrap {
		max-width: $wrap-width-1200;
	}

	.content {
		width: $content-width-1200;
	}
	
	.sidebar-primary {
		width: $sidebar-primary-width-1200;
	}
	
	.header-widget-area {
		width: $wrap-width-1200 - $title-area-width;
	}

	// Horizontal spacing
	.tax-phut_code_tag .entry,
	.post-type-archive-phut_code .entry,
	#phutccg,
	.entry-comments,
	#disqus_thread,
	.pagination.adjacent-entry-pagination,
	.page .entry,
	.single .entry {
		padding-left:32px;
		padding-right:32px;
	}

	
	.page,
	.single {
		&.full-width-content {
			.entry {
				padding-left: 60px;
				padding-right: 60px;
			}
		}	
	
	}
	
	.error404 .entry,
	.pnet2016-frontpage .entry
	{

	}

	// Vertical spacing
	.tax-phut_code_tag .entry,
	.post-type-archive-phut_code .entry,
	.before-footer-widgets,
	.site-tagline,
	#phutccg,
	.entry-comments,
	#disqus_thread,
	.page .entry,
	.single .entry
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	
	
	
	// Font Sizes



	#phutccg p {
		margin-bottom:0;
	}


}