/* Mobile Landscape
-----------------------------------------------*/

@media only screen and (max-width: 767px) {
	


	.site-header {
		// padding-bottom: 10px;
	}

	.title-area {
		float:left;
		margin: 0;
		text-align:left;
		padding-bottom: 6px;
		width:177px;
	}


	.genesis-nav-menu a {
		padding: 20px 10px;
	}

	.site-footer .nav-secondary a {
		margin: 0 10px;
	}

	.responsive-menu {
		display: none;
	}

	.responsive-menu-icon {
		display: block;
	}


	.site-inner {
	
		padding-top: 16px;
	}

	// Horizontal padding
// 	.tax-phut_code_tag .entry, // ?
	.post-type-archive-phut_code .entry, // ?
	#phutccg,
	.entry-comments,
	#disqus_thread,
	.pagination.adjacent-entry-pagination,
	.page.full-width-content .entry,
	.single.full-width-content .entry,
	.page .entry,
	.single .entry {
	
		padding-left:32px;
		padding-right:32px;
	}




}
