@media only screen and (max-width: 480px) {


	// Get stacking
	
	select,
	.site-tagline-left,
	.site-tagline-right {
		float:none;
		width:100%;
	}

	.site-tagline {
		padding:16px 0;
	}

	.site-description {
		// margin-bottom:1.5em
		// color: green;
		@include font-size(22px);
		margin-bottom: 16px;
	}



	.header-image .site-header .title-area .site-title a {
		background-size: contain !important;
	}


	


	.entry-content { }


	/* Clear float and display block featured images
	-----------------------------------------------*/
	.entry-image.alignleft,
	.entry-image.alignright {
		display: block;
		float: none;
		height: auto;
		margin: 0 0 1.5em;
		width: 100%;
	} 



	// Horizontal padding
	.tax-phut_code_tag .entry,
	.post-type-archive-phut_code .entry,
	#phutccg,
	.entry-comments,
	#disqus_thread,
	.pagination.adjacent-entry-pagination,
	.page.full-width-content .entry,
	.single.full-width-content .entry,
	.page .entry,
	.single .entry {
	
		padding-left:16px;
		padding-right:16px;
	}

	// Center text
	.site-tagline-left,
	.site-tagline-right {
		text-align:center;
	}

}
