/*
Plugins
---------------------------------------------------------------------------------------------------- */



/* Gravity Forms
---------------------------------------------

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {

	@include font-size($font-size-base);

	padding: 16px;
}

 
div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	@include font-size($font-size-base);
}

*/

.gform_wrapper {

	.validation_error {
		@include alert;
		@include alert-variant( $alert-danger-bg, $alert-danger-border, $alert-danger-text );
		margin-top: 0;
	}

	ul.gform_fields {
		
		margin: 0;
	
		li {
			list-style-type:none;
			margin-bottom: 1.5em;
		
			&.hidden_label {
				label { display:none; }
			}
			
			&.gform_validation_container {
				display:none!important;
				position:absolute!important;
				left:-9000px
			}
		}
	
	
		
	} // ul

	.ginput_container {
		
		span {
			display: block;
			margin-bottom: 1.5em;
		}
	}

	textarea {
		
		&.medium { height: 120px; }	
	}

	.gfield_description {
		margin-top: 4px;
		@include font-size($font-size-smaller);
		
		&.validation_message {
			color: $brand-danger;
			// text-transform: uppercase;
			
			
		}
	}

	&.gform_validation_error {
		
		.gfield_error {
			textarea,
			select,
			input {
				border-color: $brand-danger;
			}
		}
	}
	
	 // Required asterix
	.gfield_required {
		color: $brand-primary;
		padding-left: 4px;
	}
	.gform_ajax_spinner {
		padding-left: 0.625em;	
	}

}

.gforms_confirmation_message {
	
	.gform_confirmation_wrapper {
		
		.gform_confirmation_message {
			
			@include alert;
			@include alert-variant( $alert-success-bg, $alert-success-border, $alert-success-text );
			margin-top: 0;
			
		}
	}
}

/*
// Alternate styles
// -------------------------

.alert-danger {
  @include alert-variant( $alert-danger-bg, $alert-danger-border, $alert-danger-text );
}

.alert-warning {
  @include alert-variant( $alert-warning-bg, $alert-warning-border, $alert-warning-text );
}

.alert-success {
  @include alert-variant( $alert-success-bg, $alert-success-border, $alert-success-text );
}

.alert-info {
  @include alert-variant( $alert-info-bg, $alert-info-border, $alert-info-text );
}
*/


/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}


/* TablePress
--------------------------------------------- */
.dataTables_filter {
	margin-bottom: 1.5em;	
}



/* Powerhut Recently Viewed
--------------------------------------------- */
.widget_recently_viewed {
	
	.rv {
		@include clearfix();
		
		border-bottom: 1px dashed $border-color;
		line-height: 1.2;
		margin:6px 0;
		padding-bottom:6px;
		padding-top:6px;
		
		.rv-img-wrap {
			float: left;
			margin-right:16px;
			width: 33%;	
			
		}
		
		
		
	}
	
}


/* Mashshare
--------------------------------------------- */
.mashsb-container {
	padding: 0 !important;
	margin-bottom: 2em;
}

/* WP Courseware
--------------------------------------------- */

.wpcw_fe_course_desc {

}

table.wpcw_fe_table {


}

tr.wpcw_fe_module {

    td {
    
    }

}

tr.wpcw_fe_module_des {

}

tr.wpcw_fe_unit {


    &.wpcw_fe_unit_pending {
    
    }

}