/* CSS Document */

.card {
	background-color: $white;
}


.service {
	// background-color: transparent;
	border-bottom: 1px solid $border-color;
	margin-bottom: $margin-vertical;
	// border: 1px solid $white;
	padding: 24px;
	position: relative;
	text-align:center;

	.service-title {
		// margin-top:0;
	}
	
	.fa {
		display:block;
		font-size:64px;
		color: $brand-primary;
		margin-bottom: 16px;
	}
	
	
	&:hover {
		
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
			
		img {
			// opacity: $link-hover-image-opacity;
			transform: scale(1.05);
		}
			
			
	}

}

