.phut_theme {
	// Common to archive and single view	
	overflow:hidden;
	// padding: 0;	
	
}


.archive {
	
	.type-phut_theme {
		border:1px solid $border-color;
	
		padding: 0;
		
		.attachment-theme-archive {
			display:block;
		}
		
		
/*	
		a.theme-image-permalink {
			display: block;
			// background-color: $link-hover-color;
			
			&:hover,
			&:focus,
			&:active {
				// transform: scale(1.01);
			}
			
			
		} // theme-image-permalink
*/	
		.entry-title {
			
			@include font-size($font-size-h4);
			@include font-size(22px);
			margin-bottom: 0px;

		} // entry-title
	
		.theme-body {
	
			padding: 24px 16px 16px 16px;
			
			.entry-header {}	
	
			.actions {
				
			}
	
			.entry-content {
				p { margin-bottom: 16px; }
			} // entry-content
			
			/*
			.entry-footer {
				.entry-meta {}
			} // entry-footer
			*/
			
		} // theme-body
	
	
		// Theme category styling
		
		&.phut_theme_category-studiopress {
			// border-color: blue;
		}
	
		&.phut_theme_category-powerhut {
			// border-color: pink;
		}
	
	
		&:hover {
		
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
			
			
			img {
			
				opacity: $link-hover-image-opacity;
				transform: scale(1.01);
			
			}
			
			
		}
	
	} // phut_theme

} // archive

	.phut-themes-filter {

		@include clearfix;
		margin-bottom: 1.5em;
        background: $white;
		
        .filter-items {
        
            padding: 20px 30px;
        }
        
        
		/*
		&.fixed {
			position: fixed;
			background-color: red;	
			z-index:99;
			top: 92px;
		}
		*/
		.filter-item {
			// float: left;
			display: inline-block;
			// 
            width: 44.5%;
            
            span {
            
            }
            
            &.label {
                width: 10%;
            }

		}
		
		select {
			width: 100%;
		}
		
	}





.single-phut_theme {

	.phut_theme {
		
		.entry-title {
			// margin-bottom: 1em;
		}

		// Push title and content down if theme has featured image
		&.has-post-thumbnail {
				
			.theme-body {
				// padding-top: 24px;
			}

		}
		

		
	}








} // single-phut_theme


.phut-theme-archive-widgets {
	// background: yellow;
	@include clearfix;
	margin-bottom: 1.5em;
	
	select {
		width: 100%;	
	}
	
}


.single-theme .mobile-full-demo,
#theme-demo {
    display: none;
}


.single-phut_theme {
	
	.site-container {
		// display: none;	
	}	
	
}


#theme-demo {
	

	
	.container {
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 9999;	
	}
	

	.close-demo {
		background: rgba(0,0,0, 0.7);
		background-color: $brand-primary;
		color: #fff;
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 600;
		padding: 10px 20px;
		position: absolute;
		right: 0px;
		top: 0px;
		text-decoration: none;
		border: 1px solid;
		
		.icon-x {
			vertical-align: middle;
		}

		.icon-x:before {
			margin-right: 10px;
		}

		&:hover {
			background-color: #0066cc;
			background-color: $brand-primary;
		}

	} // close-demo

	.full-screen {
	    background: #fff none repeat scroll 0 0;
	    display: none;
		// display: block;
	    height: 100%;
	    margin: 0 auto;
	    max-width: 100%;
	    padding-bottom: 60px;
			
		iframe {
			border: none;
			height: 100%;
			overflow: scroll;
			width: 100%;
			-webkit-overflow-scrolling: touch;
		}
			
			
	} // full-screen


	
	tablet-screen {
		background-color: #000;
		background-size: 100% auto;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		display: none;
		height: 100%;
		left: 50%;
		margin: 0 0 0 -500px;
		padding-bottom: 128px;
		position: absolute;
		width: 1000px;
	}
	
	.mobile-screen {
		background-color: #000;
		border: 2px solid #fff;
		border-radius: 30px;
		display: none;
		height: 764px;
		margin: 2rem auto 0;
		width: 398px;
	}
	
	

	
} // #theme-demo