.type-phut_project {
	
	padding: 60px 80px;


	.wrap {

		// background:yellow;
		// margin: 0 auto;
		// max-width:960px;

	}



	


}


.single-phut_project {

	.entry-title {
	
	}

}


	.feature {
		border-top: 1px solid $border-color;
		padding: 40px 0;

		.feature-content,
		.feature-image-wrap
		{
			width: 48.7179%;
			float: left;
		}
				
		.feature-content {}

		.feature-image-wrap {
			// float: left;
			margin-left: 2.5641%;
		}

	
		&.alt {
			.feature-image-wrap {
				margin-left:0;				
			}
			.feature-content {
				float:right;
				margin-left: 2.5641%;
			}
		
		}
	
		&.last {
			padding-bottom: 0;
		}
	
	} // feature




.archive {
	
	.type-phut_project {
		border-radius: 0px !important;
		margin-bottom:0;
		
		.project-image-permalink {
			display:block;
			float:left;
			width: 65.812%;
			width: 48.7179%; // one-half
			
		}
		
		.project-body {
			width:31.6239%; // one-third
			width: 48.7179%; // one-half
			float:right;
			margin-left: 2.5641%;
			
		}
		
		
		&.alt {
			.project-image-permalink {
				float:right;
			}
			.project-body {
				float:left;
				margin-left: 0;
			}
			
		}		
		


		
		
	}	
	
	

	
	
}

// Media

@media only screen and (max-width: 960px) {

	.feature .feature-content,
	.feature .feature-image-wrap,
	.feature.alt .feature-content,
	.feature.alt .feature-image-wrap,
	.post-type-archive-phut_project .type-phut_project .project-image-permalink,
	.post-type-archive-phut_project .type-phut_project.alt .project-image-permalink,
	.post-type-archive-phut_project .type-phut_project .project-body,
	.post-type-archive-phut_project .type-phut_project.alt .project-body
	{
		float: none;
		margin-left: 0;
		width: 100%;
	}


	.feature .feature-image-wrap img {
		margin-bottom:24px;
	}
	
	.feature-title {

	}

}