/* CSS Document */

.membership-required {
	
	@include clearfix;
	
	background-color: $chocolate;
	color: white;
	
	padding: 24px 16px 0;
	
	h2,h3 {
		color: white;
		margin-top: 0;
	}
	
	a {
		
		color: $lime;
		
		&:hover,
		&:focus,
		&:active {
			
			color: $white;
			
		}
			
		
		
	}
	
	
}

.membership {
	
	ul {
		margin: 1.5em 0;
		@include font-size($font-size-h4);
	}
	
	ul > li {

		list-style-type: none;	
		
		&:before {	
			color: $brand-success;
	    	content: "\f00c";
			font-family:fontawesome;
    		margin-right: 16px;
		}
	}
}

.create-account {
	border: 1px solid;
	padding: 24px 16px 0;
}