.phut-testimonial {
	background-color: white;
	clear:both;
	padding: 24px 40px;
	margin: 0 0 1.5em;
	

	.testimonial-header {
		text-align: center;
		margin-bottom: 16px;
	}


	.testimonial-profile-img {
		height: 72px;
		width: 72px;
		margin: 0 auto 16px;
		img,
		a {
			display: block;
		}
		
	}

	img.size-phut-testimonial {
		display:block;
		border-radius: 50%;
		width: 72px;
		height: 72px;
	}


	.testimonial-profile-name {
		@include font-size($font-size-h5);
		margin-bottom:8px;
	}
		
	.testimonial-keyphrase {
		color:black;
		@include font-size($font-size-large);
		text-align: center;
		
		&:before {
			content: "\201C";
		}
		&:after {
			content: "\201D";
		}
	}

	.testimonial-content {
		// padding-top: 1em;
		color: #999;
		font-style:italic;
		// background: linear-gradient( to bottom, transparent, #f5f5f5);
		// padding: 0 16px 16px;

		/*
		&:before {
			content: "\f10d";
			display: block;
			// font-size: 30px;
			height: 0;
			left: -20px;
			position: relative;
			top: -10px;
			font-family: FontAwesome;
			color: #999;
		}
		*/

	}





}



.sidebar {

	.phut-testimonial {
			
		margin: 0 0 16px 0;
		padding:0 0 16px 0;
		border-bottom: 1px dashed $border-color;
	}

}



.type-phut_project {

	.phut-testimonial {
		// border: 1px solid $border-color;
		background: $google-grey-50;
		

		margin-bottom:0;
		
		padding:24px;
		
		
		.testimonial-header,
		.testimonial-content{
			// text-align:left;
			float:left;
		}
		
		.testimonial-header {
			width:31.6239%;
			// background: $google-grey-100;
			border:2px solid $white;
			margin-bottom: 0;
			padding:24px;
		}
		
		.testimonial-content {
			// background-color: $white;
			width:65.812%;
			text-align:left;
			margin-left:2.5641%;
			padding: 24px 16px 0;
			background: linear-gradient( to right, transparent, $white );
			
		}
		
		.testimonial-profile-img {
			// margin-left: 0;
			// margin-right: 0;
		}
		
		.testimonial-keyphrase {
			text-align: left;
			@include font-size($font-size-h4);
			margin-bottom: 16px;
			
		}
	}


}

