.tax-phut_code_tag,
.post-type-archive-phut_code {

	.archive-description {
		// @include font-size(20px);
		font-family: $font-family-monospace;
	}
	
	.archive-title {
		font-family: $font-family-monospace;
	}



	.entry {
		padding: 60px;
		padding-left:80px;
		padding-right:80px;
	}
}

.entry-content ul.snippet-list {

	margin-bottom:0;

	li {

		list-style-type:none;
		margin-bottom:8px;

		&:before {
			font-family: FontAwesome;
			content: "\f121";
			display: inline-block;
			margin-right: .5em;
			color: $text-color;
			margin-left:-28px;
		}
		
		
		a {
		
			color: $brand-primary;
			text-decoration:none;
			
			
			&:hover,
			&:focus,
			&:active {
				text-decoration:underline;
			}
			
		
		}
		
		
	}
}

