/* CSS Document */

.entry-content .pricing-table {

	text-align: center;
	

	.one-third {
    	border: 2px solid $border-color;
    	padding: 40px;
	
		&:nth-child(3n+2) {
			// background: gold;
		}
		
		
	}

	h4 {
	    border-bottom: 2px solid $border-color;
    	// color: #333;
    	margin: -40px -40px 40px;
    	padding: 40px;
	}

	ul {
		
		margin-left: 0;
		
		li {
			list-style-type: none;
		    border-bottom: 1px dotted $border-color;
    		// color: #333;
    		margin-bottom: 15px;
    		padding-bottom: 10px;
			
			&:before {
				color: $lime;
				content: "\f00c";
				display: inline-block;
				font-family: FontAwesome;
				margin-left: -28px;
				margin-right: 0.5em;
			}
		
		}
		
	}

}