.resources {

	// background:yellow;

	h2 {
		margin-bottom:1em;
	}

	.resource-list {
		margin-bottom: $margin-vertical;
	}

	.resource {
		background: #f5f5f5;

		border-top: 1px solid $white;
		border-bottom: 1px solid $border-color;
		// margin-bottom: 24px;
		padding: 24px 16px 16px 16px;
		
		h3 {
			margin-top: 0;
			a {
				color: $headings-color;
				text-shadow: 0 1px 0 $white;
				text-decoration: none;
				
				&:hover,
				&:focus,
				&:active {
					color: $link-hover-color;
					
				}
			}
		}
		
		.resource-image {
			border:6px solid $white;
			width:100%;
			
			@media only screen and (max-width: 480px) {
				margin-bottom:1.5em;
			}
			
			
		}
	} // resource
} // resources

.coupon-code {
	padding: 6px 8px;
	background-color: $white;
	colour: $brand-primary;
	border: 1px dashed;
}