//* 
.search-form {

	overflow: hidden;
	width: 100%;

	input[type="search"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: calc( 100% - 48px );
		// border-color: red;
	}

	// input[type="submit"] {
	button {
		width:48px;
		background-color: $border-color;
		background-color: $link-color;;
		border-top-right-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
		border-left: 0 none;
		border-color: $border-color;
		// border-color: red;
		color: $white;
		height:43px;
		line-height: 1;
		// padding-top: 12px;
		padding-bottom: 7px;
		padding-top: 8px;
		
		&:after {
			content: '\f002';
			font-family: FontAwesome;
			
			// content: "\f179";
			// font-family: Dashicons
		}
		
		&:hover,
		&:focus,
		&:active {
			background-color: $link-hover-color;
		}
		
		
	}

}


.sidebar .widget_search {

	border: 0 none !important;
	padding: 0 !important;
	background: transparent !important;
	
	.search-form {
		margin-bottom:0;
	}
}


