/* Site Containers
-----------------------------------*/
.site-container {
	width: $site-container-width;
}

.wrap {
	margin:       0 auto;
	max-width:    $wrap-width;
}

.site-inner {
	background-color: $site-inner-bg;
	margin: 0 auto;
	padding: $site-inner-padding-top $site-inner-padding-horizontal $site-inner-padding-bottom $site-inner-padding-horizontal;
}