// POWERNET 2016 THEME
// --------------------------------------------------------*/


// Containers - widths and spacing
// --------------------------------------------------------*/

$site-container-width:    100%;
$wrap-width:              1200px;
$sidebar-primary-width:   336px;
$gutter-width:            48px;

$gutter-width:            16px;


$site-inner-padding-vertical: 0px;



$site-inner-padding-top: 60px;
$site-inner-padding-horizontal: 0px;
$site-inner-padding-bottom: 40px;



// Containers - widths and spacing (max-width 1200)
// -----------------------------------------------*/

$wrap-width-1200:              960px;
$sidebar-primary-width-1200:   $sidebar-primary-width;
// $gutter-width-1200:            30px;

// Containers - widths and spacing (max-width 960)
// -----------------------------------------------*/

// $wrap-width-960: 800px;
$wrap-width-960: 848px;




/* BIGITUP */
$site-inner-padding-horizontal:	0px;
/* END BIGITUP */


$site-inner-width: $wrap-width + ( 2 * $site-inner-padding-horizontal );
$content-width: $wrap-width - $gutter-width - $sidebar-primary-width;



// max-width 1200 ~ iPad Landscape
// -------------------------------------*/


$gutter-width-1200:						35px;
$gutter-width-1200:						$gutter-width;

$site-inner-padding-horizontal-1200:	$site-inner-padding-horizontal;
$site-inner-padding-vertical-1200:		$site-inner-padding-vertical;


$site-inner-width-1200:        $wrap-width-1200 + ( 2 * $site-inner-padding-horizontal-1200 );
$content-width-1200:           $wrap-width-1200 - $gutter-width-1200 - $sidebar-primary-width-1200;






// Font Families
// --------------------------------------------------------*/

$font-family-sans-serif: Oxygen, sans-serif;
$font-family-serif:      'Roboto Slab', serif;
$font-family-monospace:  Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-cursive:    cursive;
$font-family-base:       $font-family-sans-serif;
$font-family-brand:      'Advent Pro', sans-serif;
$font-family-headings:   $font-family-base;
$font-family-caption:    $font-family-headings;
$font-family-cite:       inherit;
$font-family-address:    inherit;

// Colours
// --------------------------------------------------------*/

$chocolate:         $google-brown-700;
$chocolate-lighter: $google-brown-50;
$apricot:           $google-deep-orange-500; // orange
$lime:              $google-lime-500;
$banana:            #FED771;  // yellow
$strawberry:        $google-pink-300; // pink
$wafer-light:       #F5E1C5;
$wafer-dark:        #E3AA57;




$border-color:       $wafer-light;
$border-color-light: $wafer-light;
$body-bg:            $white;
$text-color:         $chocolate;
$text-muted:         $wafer-dark;
$text-muted:         $google-brown-300;


$selection-bg:       $lime;
$selection-color:    $white;

// Brand colours
// -----------------------------------------------*/

$brand-primary:       $apricot;
$brand-primary-light: lighten( $brand-primary, 5% );

// Contextual colours
// -----------------------------------------------*/

$brand-success: $google-green-500;
$brand-info:    $google-blue-500;
$brand-warning: $google-orange-500;
$brand-danger:  $google-red-500;








// Font size
// --------------------------------------------------------*/


/*
$font-size-larger:   22px;
$font-size-large:    20px;
$font-size-base:     18px;
$font-size-small:    16px;
$font-size-smaller:  15px;
$font-size-smallest: 14px;
*/

$font-size-h1: 40px;
$font-size-h2: 34px;
$font-size-h3: 30px;
$font-size-h4: 26px;
$font-size-h5: 22px;
$font-size-h6: 20px;



$font-size-larger:   20px;
$font-size-large:    18px;
$font-size-base:     16px;
$font-size-small:    15px;
$font-size-smaller:  14px;
$font-size-smallest: 12px;


$font-size-h1: 40px;
$font-size-h2: 34px;
$font-size-h3: 30px;
$font-size-h4: 26px;
$font-size-h5: 22px;
$font-size-h6: 20px;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 22px;
$font-size-h6: 20px;

$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 26px;
$font-size-h4: 24px;
$font-size-h5: 22px;
$font-size-h6: 20px;


$font-size-breadcrumb:     $font-size-small;
$font-size-lead:           $font-size-large;


$font-size-caption:        $font-size-smaller;
$font-size-footer-widgets: $font-size-base;

// Line height
// --------------------------------------------------------*/

$line-height-base:     1.555; // 28/18
$line-height-computed: 28px; // $font-size-base * $line-height-base

$line-height-headings: 1.2;
$line-height-address:  $line-height-base;

// Font style
// --------------------------------------------------------*/
$font-style-address: normal;
$font-style-cite:    normal;


// Font weight
// --------------------------------------------------------*/
$font-weight-light: 300;
$font-weight-base: 300;
$font-weight-bold: 400;

$font-weight-headings: 300;
$font-weight-headings-small: 300;
$font-weight-lead: $font-weight-bold;




$border-radius-small: 3px;
$border-radius-base: 4px;
$border-radius-large: 6px;










// BEGIN






$link-color:       $brand-primary;
$link-hover-color: $brand-primary-light;
$link-decoration: none;
$link-image-opacity: 1;

$link-hover-decoration: underline;
$link-hover-image-opacity: .8;


// Underline links?
// $link-color:     darken( $text-color, 10% );
// $link-hover-color: $brand-primary;





$margin-vertical: 1.5em;

$hr-height: 1px;
$hr-border-style: dotted;
$hr-color: $border-color;
$hr-margin: $margin-vertical;
$hr-width: 90%;


$highlighted-bg: $selection-bg;
$highlighted-color: $selection-color;
$highlighted-padding: 1px 6px 2px;

// Code <code></code>
// -----------------------------------------------*/
$code-bg:            $google-grey-100;
$code-color:         $google-pink-500;
$code-border-color:  $google-grey-300;
$code-border-radius: 0;




// <kbd></kbd>
// -----------------------------------------------*/
$kbd-bg: $white;
$kbd-color: $text-color;
$kbd-border-radius: $border-radius-small;


// <pre></pre>
// -----------------------------------------------*/
$pre-bg: $google-grey-50;
$pre-border-color: $border-color;
$pre-color: $text-color;
$pre-scrollable-max-height: 340px;



$headings-color: $text-color;
$headings-margin-bottom: .5em;




$headings-small-color: $text-muted;












$site-inner-bg: #fffffa;
$site-inner-bg: #f5f3ea; // Sainsburys
$site-inner-bg: #f5f5f1; // Etsy topbar


$site-title-font-weight: $font-weight-base;
$site-title-color: $brand-primary;
$site-title-hover-color: $link-hover-color;
$nav-header-color: $text-color;
$nav-header-link-color: $nav-header-color;
$nav-header-link-hover-color: $brand-primary;
$nav-header-current-link-color: $nav-header-link-hover-color;

// Pagination
// ----------------------------*/
$pagination-item-bg: #d8d1ca;
$pagination-item-color: $white;
$pagination-item-hover-bg: $link-hover-color;
$pagination-item-hover-color: $white;
$pagination-item-current-bg: $pagination-item-hover-bg;
$pagination-item-current-color: $pagination-item-hover-color;








// Default Button
// ----------------------------*/

$button-bg: $chocolate;
$button-color: $white;
$button-border-color: $chocolate;

$button-hover-bg:  lighten( $button-bg, 5% );
$button-hover-color: $button-color;
$button-hover-border-color: $button-border-color;

$button-bg: $white;
$button-color: $chocolate;
$button-border-color: $chocolate;

$button-hover-bg:  $chocolate;
$button-hover-color: $white;
$button-hover-border-color: $button-border-color;

/*
$button-bg: $white;
$button-color: $chocolate;
$button-border-color: $chocolate;

$button-hover-bg:  $chocolate;
$button-hover-color: $white;
$button-hover-border-color: $button-border-color;
*/

$button-border-width: 1px;
$button-border-radius: 0;
$font-weight-button: $font-weight-base;
$button-text-transform: none; // none | uppercase | capitalize | lowercase

$button-padding: 8px 16px;


// Primary Button
// ----------------------------*/


$button-primary-bg: $brand-primary;
$button-primary-color: $white;
$button-primary-border-color: $brand-primary;

$button-primary-hover-bg: $brand-primary-light;
$button-primary-hover-color: $button-primary-color;
$button-primary-hover-border-color: $button-primary-border-color;

$button-primary-border-width: $button-border-width;
$button-primary-border-radius: $button-border-radius;
$font-weight-button-primary: $font-weight-button;
$button-primary-text-transform: none; // none | uppercase | capitalize | lowercase

// Secondary Button
// ----------------------------*/

$button-secondary-bg: $white;
$button-secondary-color: $text-muted;
$button-secondary-border-color: $border-color;

$button-secondary-hover-bg: darken($button-secondary-bg, 15%);
$button-secondary-hover-color: $button-secondary-color;
$button-secondary-hover-border-color: $button-secondary-border-color;


$button-secondary-border-width: $button-border-width;
$button-secondary-border-radius: $button-border-radius;
$font-weight-button-secondary: $font-weight-light;
$button-secondary-text-transform: none; // none | uppercase | capitalize | lowercase


// Contextual Buttons
// ----------------------------*/
$button-success-bg:	$brand-success;
$button-info-bg: $brand-info;
$button-warning-bg: $brand-warning;
$button-danger-bg: $brand-danger;

// Button sizes
// ----------------------------*/
$button-lg-padding:				10px 16px;
$button-sm-padding:				5px 10px;
$button-xs-padding:				2px 6px;


$button-border-radius-small: 0px;



// Forms
// ----------------------------*/
$legend-color: inherit;
$legend-border-color: $border-color;
$label-color: inherit;

$font-weight-label: $font-weight-bold;
$font-size-label: $font-size-small;
$input-bg: $white;
$input-color: $text-color;
$placeholder-color: $text-muted;





// Tables
// ----------------------------*/
$caption-color: $headings-color;



$table-cell-padding: 8px;
$table-bg: $white;
$table-border-color: $border-color;
$table-condensed-cell-padding: 5px;
$table-bg-accent: lighten( $table-border-color, 10% );
$table-bg-hover: lighten( $table-border-color, 5% );


$blockquote-color: $text-color;


// Alerts
// ----------------------------*/
$alert-border-radius: 0px;

$alert-padding: 20px;
$font-size-alert: $font-size-small;
$font-family-alert: $font-family-base;
$font-weight-alert-link: inherit;


$alert-danger-bg:     $brand-danger;
$alert-danger-border: $alert-danger-bg;
$alert-danger-text:   $white;

$alert-warning-bg:     $brand-warning;
$alert-warning-border: $alert-warning-bg;
$alert-warning-text:   $white;

$alert-success-bg:     $brand-success;
$alert-success-border: $alert-success-bg;
$alert-success-text:   $white;

$alert-info-bg:        $brand-info;
$alert-info-border:    $alert-info-bg;
$alert-info-text:      $white;






$breadcrumb-margin-bottom: 16px;







//  Site header
// ------------------------------------------------*/

$site-header-bg:						$white;
$site-header-border-color:	$chocolate-lighter;
$site-header-color:					$text-color;

//  Title area
// ------------------------------------------------*/
$title-area-width: 240px;
$title-area-width: 177px;

// Site tagline
// ------------------------------------------------*/
$site-tagline-bg: $chocolate-lighter;
$site-tagline-bg: $white;


// Sidebar

$sidebar-bg: transparent;

$sidebar-widget-bg: $white;


// Footer widgets (the widget container area)
// ------------------------------------------------*/

$footer-widgets-bg: $banana;
$footer-widgets-color: $text-color;

$footer-widgets-link-color: $apricot;
$footer-widgets-link-decoration: none;

$footer-widgets-link-hover-color: $text-color;
$footer-widgets-link-hover-decoration: underline;
$footer-widgets-headings-color: $text-color;


$footer-widgets-link-color: $text-color;
$footer-widgets-link-decoration: underline;

$footer-widgets-link-hover-color: $text-color;
$footer-widgets-link-hover-decoration: none;






// Site footer
// ------------------------------------------------*/

$site-footer-bg: $chocolate;
$site-footer-color: $white;
$site-footer-link-color: $lime;
$site-footer-link-hover-color: $white;


// END