/* WordPress
--------------------------------------------- */

.alignnone{}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft{
	float: left;
	text-align: left;
	.avatar { margin-right: 24px; }
}


.alignright{
	float: right;
	.avatar { margin-left: 24px; }
}	


.sticky {
}

img.centered {
	display: block;
}

a.alignnone,
img.alignnone {}






a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignnone {
	display: inline-block;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}




a.alignleft,
a.alignright {
	border: none;
}

.wp-caption-text {
	@include font-size(14px);
	font-weight: 400;
	text-align: center;
}


.wp-playlist{}
.wp-playlist-current-item{}
.wp-playlist-next{}
.wp-playlist-prev{}
.wp-embedded-audio{}
.wp-video{}


// POST CLASSES
//--------------------------

// BODY CLASSES
//--------------------------

// COMMENT CLASSES
//--------------------------

// NAVIGATION MENU CLASSES
//--------------------------

// DEFAULT WIDGET CLASSES
//--------------------------

// WYSIWYG CLASSES
//--------------------------

// SHORTCODE CLASSES
//--------------------------