/*!
Theme Name: Powernet
Theme URI: https://powerhut.net/themes/
Description: Crafted with graft, a custom Genesis child built for Powerhut Net sites
Author: Graham Washbrook
Author URI: https://powerhut.net/
Version: 1.0.19
Template: genesis
Template Version: 2.5.3
*/


// Variables and scaffolding
// -------------------------
@import	'C:/Users/Graham/Dropbox/localsites/htdocs/scss-shared/variables-shared';
@import 'variables';
@import	'C:/Users/Graham/Dropbox/localsites/htdocs/scss-shared/scaffolding';

// Theme styles
// -------------------------
@import 'float-clearing';
@import 'site-containers';
@import 'layout-widths-positions';

// Force Scrollbar
// -------------------------
html { overflow-y: scroll; }

/* Base overides
--------------------------------------------- */
a:hover,
a:focus,
a:active {
	img {
		// transform: scale(1.01);
	}
}

/* Form overides
--------------------------------------------- */
input[type="search"]
{
	-webkit-appearance: none;
}

/* Table overides
--------------------------------------------- */

/* Helper Classes
--------------------------------------------- */

/* Avatar
--------------------------------------------- */
.avatar {
	float: left;
}

.alignleft .avatar {}
.alignright .avatar {}

.comment .avatar {
	height: 48px;
	width: 48px;
}

/* Imports
--------------------------------------------- */
@import 'genesis-classes';
@import 'wordpress-classes';
@import 'search-form';
@import 'widgets';
@import 'plugins';
@import 'navigation';



// Site Header
// -------------------------

.site-header {
	background-color: $site-header-bg;
	border-bottom: 1px solid $site-header-border-color;
	color: $site-header-color;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0 0 6px rgba(1, 1, 1, 0.35);
}

.header-widget-area {

	float: right;
	text-align: left;
	width: $wrap-width - $title-area-width;
	width: 960px; // Overide

	/*
	.search-form {
		float: right;
		margin-top: 10px;
	}
	*/

}


// If WP admin bar
#wpadminbar { position: fixed; }
.admin-bar {
	.site-header {
		top:32px;
	}
}


// Site Containers
// ----------------------------*/


/* Site Tagline
--------------------------------------------- */

.site-tagline {
	background-color: $site-tagline-bg;
	margin-top: 61px;
	padding: 40px 0;
	border-bottom: 1px solid $border-color;
}

.site-tagline-left {
	float: left;
	width: 80%;
}

.site-tagline-right {
	float: right;
	text-align: right;
	width: 20%;
}

.site-description {
	margin-bottom:0;
}



@import 'front-page';
@import 'pricing-table';














.content {
	// background-color: yellow; // $content-bg;
}

.entry-comments,
#disqus_thread {
	
	background-color: $white; // $comments-bg;
	border-top:8px solid $brand-primary;
	border-bottom: 1px solid $border-color;
	
	padding-top: 60px;
	padding-bottom: 60px;
	
	padding-left:80px;
	padding-right:80px;
	
	margin-bottom:16px;
	margin-top: -16px;
}

.sidebar {
	// background-color: green; // $sidebar-bg;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */



/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	
	word-wrap: break-word;
		
	li {
		list-style-type: none;


		
		margin-bottom: 0.5em;
		
		
		text-align: left;
	}
	
}


.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	
	// padding-left: 20px;
	// text-indent: -20px;
	
	padding-left: 1em;
	text-indent: -1em;	
	
}

.widget li li {
	border: none;

	
	margin: 0 0 0 2em; // indent	
	
	padding: 0;
}

.widget ul > li:last-child,
.widget p:last-child {
	margin-bottom: 0;
}


/*
Widget Calendar
----------------------------------------------*/
.widget_calendar {




	table {
		border: 1px solid $table-border-color;
		margin-bottom: 0px;
	}

	td,
	th {
		text-align: center;
		border: 1px solid $table-border-color;
		pading:8px;
		
		padding: .5em;
		
	}
	
	td {
		font-weight:200
		a {
			font-weight: bold;
		}
	}
	
	th {
	}

	.pad{
	}

	#today{ background: $black;}
	
	#prev,
	#next {
		padding: 0px;
			a {
			color: $white;
			display:block;
			// padding:8px;
			padding: 0.5em;
			
			background-color: $button-bg;
			
				&:hover {
					background-color: $button-hover-bg;
				
				}
		}
		
		&.pad {
		
			background-color: $button-bg;
		}
	
	}
	#prev{ }
	#next{ }


}


/* Genesis
--------------------------------------------- */




.sidebar .widget-title a {
	border: none;
}







/*
Site Header
---------------------------------------------------------------------------------------------------- */





/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 12px 0;
	width: $title-area-width;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	
	font-family: $font-family-brand;
	font-weight: $site-title-font-weight;
	@include font-size( 36px );
	line-height: 1;
	margin: 0;
	
	a {

		color: $site-title-color;
		text-decoration: none;
		
		&:hover,
		&:focus,
		&:active {
			border: none;
			color: $site-title-hover-color;
// 			text-decoration: none;
		}
	}
	
	
	::before {
/*
		font-family: FontAwesome;
		content: "\f015"; // home
		margin-right:10px;
*/
	}
	
	
}


.site-description {
	@include font-size(36px);
	margin: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Custom header */

.header-image .title-area {
	padding: 0;
}


.header-image .site-title a {
	height: 60px;
	display: block;
	text-indent: -9999px;
	max-width: $title-area-width;
}

/* Widget Area
--------------------------------------------- */




/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	// @include font-size($font-size-small);
	// font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin: 0;
	text-align: left;
}

.genesis-nav-menu a {
	border: none;
	color: #333;
	display: block;
	// @include font-size($font-size-small);
	padding: 20px;
	position: relative;
	// text-decoration:none;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #0ebfe9;
}

.genesis-nav-menu > .menu-item > a {
	// text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	letter-spacing: 0;

	@include opacity(0);
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 160px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	padding: 16px 20px;
	position: relative;
	width: 160px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 159px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	@include opacity(1);
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 20px 0;
	// text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 6px 0 0;
}

/* Site Header Navigation
--------------------------------------------- */

.nav-header {

	text-align: right;

	.genesis-nav-menu {
		color: $nav-header-color;
		font-family: inherit;
		// @include font-size($font-size-small);
		
		// text-decoration: none;
	
		> .right {
			
			padding: 18px 0;
		}

		a {
			// @include font-size($font-size-small);
			color: $nav-header-link-color;
			padding: 18px;
			
			&:hover,
			&:focus,
			&:active {
				color: $nav-header-link-hover-color;
				text-decoration: none;
			}	
		}
		
		

		.current-menu-item,
		.current-menu-parent {
			
			a {
				color: $nav-header-current-link-color;
			}
			
		}
		

		.current-menu-parent {
		
			.sub-menu {
			
			
				a {
					color: $nav-header-link-color;
					&:hover,
					&:focus,
					&:active {
						color: $nav-header-link-hover-color;
					}
				}				


				.current-menu-item {
					a{
						color: $nav-header-current-link-color;
					}
				}
			
			
			}
		
		
		
		
		
		}







	} // genesis-nav-menu



		.sub-menu {
			border-top: 1px solid #eee;
	
			.sub-menu {
				margin-top: -55px;
			}
	
		}	
	

	
	
	
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #333;
}

.nav-primary a,
.nav-primary .genesis-nav-menu .sub-menu a {
	color: #fff;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	background-color: #333;
	border: 1px solid #444;
	border-top: none;
}

.nav-primary .sub-menu a:hover {
	color: #0ebfe9;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	margin-bottom: 20px;
}



/* Responsive Menu Hamburger Icon
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	float: right;
	text-align: right;
}


.responsive-menu-icon::before {
	
	// display: inline-block;
	content: "\f0c9";
	font: normal 28px/56px 'FontAwesome';

}






/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	background-color: $white;
	border-bottom: 1px solid $border-color;
	margin-bottom: 16px;
	padding: 24px 16px 16px 16px;
}


.entry-image {

	&.alignleft,
	&.alignright {
		margin-top: 6px;
	}
}



.entry-title {

	a {
	
		// color: $headings-color;
		// text-decoration:none;

		
		&:hover,
		&:focus,
		&:active {
		
		
			// color: $link-hover-color;

		
		}	
	
	
	}


}


.entry-meta {

	@include font-size($font-size-smallest);
	color: $text-muted;

	a {

		border: none;
		color: $text-muted;

		&:hover,
		&:focus,
		&:active {
			color: $link-hover-color;
		}
				
	} // a
} // entry-meta









.entry-time{}
.entry-author{}
.entry-author-link{}
.entry-author-name{}


.entry-comments-link {
	
	// float:right;


	&:before {
		content: "\f0e5";
		font-family: FontAwesome;
		@include font-size($font-size-small);	

		line-height: 1;
		margin: 0 4px 0 6px;
	}



}







.post-edit-link{}

// What's this?
.quote-caption {
	margin-bottom: $line-height-computed;
}



.entry-header {



	.entry-meta {
	
		// margin-bottom: .5em;
		margin-bottom: 8px;
		text-transform: uppercase;
	
		a {
		
			font-weight:400;
			&:hover,
			&:focus,
			&:active {
			
				
			
			}
		
		}
	
	} // entry-meta
	
} // entry-header


.entry-content {

	// @include word-wrap();
	

	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6  {
		// margin-top: 1em;	
	}

	
	a {
	
		// text-decoration: underline;
		&:hover,
		&:focus,
		&:active {
			// text-decoration: none;
		}
	} // a


	ol,
	ul {
		margin-bottom: $margin-vertical;
		margin-left: $line-height-computed; // 40px; ?
		
		li {margin-bottom:0.5em}
	}

	ol ol,
	ol ul,
	ul ul,
	ul ol {
		margin-bottom: 0;
		margin-top:0.5em;
	}

	ol > li {
	
		list-style-type:decimal;
	
	
		ol > li {

			list-style-type:lower-alpha;
	
				ol > li {

					list-style-type:lower-roman;
	
					ol > li {

						list-style-type:decimal;
		
				}
	
		
			}
	
		
		}
		

		
	}








	ul >  li {
	
		list-style-type:disc;

		ul > li {
			
			list-style-type:square;
			
			ul > li {
			
				list-style-type:circle;
				
				ul > li {
				
					list-style-type:disc;
					
				}
			}
		}
	}

	ul.inline {
		margin-left: 0;
		li {
			// background: orange;
			display:inline-block;
			list-style: outside none none;
			margin-right: 12px;
		}
	}

	.search-form {
		// width: 50%;
	}



} // entry-content


.entry-footer {

	.entry-meta {
	
		@include font-size($font-size-smaller);
		
		border-top:1px dotted $border-color;
		margin:0;
		padding-top: 16px;
	
		.entry-categories {float:left;}
		.entry-tags {float:right;}
		
	}
	
} // entry-footer







.entry-categories,
.entry-tags {
	// display: block;
}



// Prefix a hastag to tag links and tag archive description
.tax-phut_code_tag .archive-title,
.tag .archive-title,
.tagcloud a,
.entry-tags a {
	&::before {
    content: "#";
	}
}



/* Pagination
--------------------------------------------- */

.pagination {

	clear: both;
	// margin: $line-height-computed 0;

	// margin: 1.5em 0;

	li {
		display: inline;
	
	
		a {
		
			background-color: $pagination-item-bg;
			color:            $pagination-item-color;
			border: none;
			// border-radius: 3px;
			
			cursor: pointer;
			display: inline-block;
			@include font-size($font-size-small);
			padding: 8px 16px;
			text-decoration:none !important;
			
			
			&:hover,
			&:active,
			&:focus {
			
				background-color: $pagination-item-hover-bg;
				color:            $pagination-item-hover-color;

			}
			
			
			
			
			
		}
	
		&.active a {
		
			background-color: $pagination-item-current-bg;
			color:            $pagination-item-current-color;
		
		}
	
	
	
	}


	&.adjacent-entry-pagination,
	&.archive-pagination {
		@include font-size($font-size-small);
		margin-bottom: 16px;
        margin-top: 16px;
	}

	// Next / Previous Post
	&.adjacent-entry-pagination {

		background: $white;
		border-bottom: 1px solid $border-color;


		
		margin-top: -16px;
		
		padding-top: 16px;
		padding-bottom: 16px;
		
		padding-left:80px;
		padding-right:80px;



		.pagination-previous,
		.pagination-next {
			width:48%;
		}
		
		.pagination-previous {}
		.pagination-next {
			text-align: right;
		}

	}
	
	
	
	
	
}


/* Entry Pagination
--------------------- */

.entry-pagination {

	@include font-size( $font-size-smaller );
	margin: 16px 0;

	a,
	> span {
		background-color: $pagination-item-bg;
		color:            $pagination-item-color;	
    	display: inline-block;
    	text-align: center;

		border: none;

		

		margin: 0 4px 4px 0;
		padding: 4px 12px;
	}

	> span { // current / active

		background-color: $pagination-item-current-bg;
		color:            $pagination-item-current-color;
		cursor: default;

	}


	a {
		
		// background-color: #d8d1ca;
    	// color: #fff;
		text-decoration: none;
		
		&:hover,
		&:active,
		&:focus {
		
				background-color: $pagination-item-hover-bg;
				color:            $pagination-item-hover-color;
			text-decoration: none;
		}
		
	}




}












/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 60px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 1.5em;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 1.5em 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}






.attachment-single-cover {
	display:block;
}


.page,
.single {

	.entry {
		padding: 60px 80px;
		// margin-bottom:0;
	}
}


/* Normal Pages
---------------------------------------------------------------------------------------------------- */
.page {

	.entry-title {
		margin-bottom: 1.25em;
	}
}

/* Front Page / 404 Page
---------------------------------------------------------------------------------------------------- */
.error404,
.pnet2016-frontpage {
	.entry {
		background: transparent;
padding:0;
		border: 0 none;
		//margin-bottom: 0;
	}
}


.pnet2016-frontpage {
	// .site-inner { background: $white;}
}





/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {

	.widget-title {
	
	
	}

}


// RECENT ENTRIES
.widget_recent_entries {

	a {
	
		color: $headings-color;
	
		&:hover,
		&:hover,
		&:focus {
		
			color: $link-hover-color;
		
		}
	
	}

	
	.post-date {
		color: $text-muted;
		white-space: nowrap;
		@include font-size($font-size-smallest);

	}
	

}

// CATEGORY ARCHIVES
.widget_categories {

	li {
	
		color: $text-muted;
	}


}


.widget_archive {

	li {
	
		color: $text-muted;
	}

}





// RSS WIDGET 


.widget_rss {

	.widget-title {
	
		a{
		
			&:hover,
			&:focus,
			&:active {}
		
			img {
				width: auto; // RSS image not responsive
				height: 16px;
			}
		
		} // a
	
	} // .widget-title


	li {
		
		margin-bottom: $line-height-computed/2 !important;
		
		a {
			font-family: $font-family-headings;
		}
		
		span.post-date,
		span.rss-date {
			color: $text-muted;
			display:block;
	@include font-size($font-size-smallest);

		} // span
	
	} // li


} // widget_recent_entries


.widget_rss li .rssSummary {
	@include font-size($font-size-smallest);

}

.widget_rss li cite {
	color: $text-muted;
	display:block;
	@include font-size($font-size-smallest);
}



// MAILCHIMP 4 WORDPRESS



.mc4wp-form {

	border: 1px solid $brand-primary;
	padding: 1.5em;

	p {}
	
	p:last-of-type {
		margin-bottom: 0px;
	}

	label {}
	input {}
	input[type="checkbox"] {} /* checkboxes */
	input[type="submit"] {} /* submit button */
	.mc4wp-alert {} /* success & error messages */
	.mc4wp-success {} /* success message */
	.mc4wp-error {} /* error messages */	

		
	button,
	.button,
	input[type="button"],
	input[type="submit"] {
		width: 100%;
	}

	.mc4wp-ajax-loader {
		// background: url("https://url-to-some-loading-gif") !important;
		// height: 20px !important;
		// width: 20px !important;
	}


}		


.mc4wp-response{
	
	.mc4wp-alert{
		
		@include alert;
	
		&:last-of-type {
			margin-bottom: 0;
		}
	
	}
	
	.mc4wp-error{

		
		@include alert-variant( $alert-danger-bg, $alert-danger-border, $alert-danger-text );
		
		
	}
	
	.mc4wp-success {
		@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
	}
	
}




.footer-widgets .mc4wp-form {



	border: 0 none;
	padding: 0;



}



/* Sidebars
-----------------------------------*/

.sidebar {

	background-color: $sidebar-bg;
	@include font-size ($font-size-small);

	.widget {
		background-color: $sidebar-widget-bg;
		border-bottom: 1px solid $border-color-light;
		margin-bottom: 16px;
		// padding: 24px 16px 16px;
		padding: 16px;


		.widget-title {	
			@include font-size($font-size-h4);	
		}

		
	}




	select {
		width: 100%;
	}






	img {

	}

	.featured-content img {
		margin-bottom: 0;
	}




	.tagcloud a {

		display: inline-block;

		&:hover,
		&:active,
		&:focus {}

	}







}


/*
Before Footer Widgets
---------------------------------------------------------------------------------------------------- */
.before-footer-widgets{
	background: #FAE6B1;
	padding: 60px 0;
	
	form {
		margin-bottom: 0;
	}
	
}

.before-footer-widgets-1,
.before-footer-widgets-2 {}

.before-footer-widgets-1 {}
.before-footer-widgets-2 {}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {

	background-color: $footer-widgets-bg;
	color:            $footer-widgets-color;
	clear: both;

	@include font-size($font-size-footer-widgets);

	padding: 40px 0 24px;

	a {
		color: $footer-widgets-link-color;
		text-decoration: $footer-widgets-link-decoration;
		
		
		
		
		
		

		&:hover,
		&:focus,
		&:active {
		
				text-decoration: $footer-widgets-link-hover-decoration;
				

				
				
				color: $footer-widgets-link-hover-color;
		
		}
		

	}


	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6 {
		color: $footer-widgets-headings-color;
	}

	.wrap {
	
	}


	.widget {
		margin-bottom: 1.5em;
	}

	.widget-title {
		font-size: $font-size-h3;

	}

	li {
// 		list-style-type: none;
		word-wrap: break-word;
	}


	/* 4 Columns
	
	.widget-area {
		float: left;
		margin-left: 2.564102564102564%;
		width: 23.0769%;
	}
	--------------------------*/

	/* 3 Columns
	--------------------------*/
	.widget-area {
		float: left;
		margin-left: 2.564102564102564%;
		width: 31.623931623931625%;
	}

	
	.footer-widgets-1 {
		clear:both;
		margin-left:0;	
	}
	

}



















/* After Entry
--------------------------------------------- */

.after-entry {

	margin-bottom: 1.5em;
	margin-top: -2em;

	.widget {

		border: 1px solid $border-color;
		padding: 28px;
		
		
		&.user-profile {
		
			// background: $gray-light;
			// color: $white;
		
		}
		
		&.widget_mc4wp_widget {
		
			padding: 0;
			border: 0 none;
			
			// background: $border-color;
			// color: white;
			
			// text-align: center;
			
			.widget-title {
				font-size: $font-size-h3;

			}
			
	
			
	
			
		}
		
		
		
		
	}

}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {

	background-color: $site-footer-bg;
	color:            $site-footer-color;
	
	letter-spacing: 1px;
	padding: 24px 0;
	text-align: center;

	a {
		color: $site-footer-link-color;
		&:hover,
		&:focus,
		&:active {
			color: $site-footer-link-hover-color;
		}
	}



	p {
	
		font-family: inherit;
		font-weight: 300;
		@include font-size(14px);
		margin-bottom: 0;	
	
	}


	.nav-secondary {
	
		a {
			color: $site-footer-link-color;
			margin: 0 30px;
			padding: 0;
	
			&:hover,
			&:focus,
			&:active {
				color: $site-footer-link-hover-color;
			}
	
		}
	
	}


	.genesis-nav-menu .sub-menu a {
		background-color: #333;
		border: 1px solid #444;
		border-top: none;
		padding: 16px;
	}

	.nav-secondary .sub-menu a:hover {
		color: #0ebfe9;
	}

} // site-footer


@import 'helpers';

@import 'masonry';
@import 'powerhut-themes';
@import 'powerhut-membership';
@import 'powerhut-services';
// @import 'powerhut-contact-area';
@import 'powerhut-projects';
@import 'powerhut-code';
@import 'powerhut-gccg';
@import 'resources';
@import 'plugin_display_posts_shortcode';
@import 'powerhut-testimonials';



// Apply border-radius

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
// .entry-comments,
// #disqus_thread,
// .widget,
.search-results .entry,
.blog .entry,
.archive .entry,
.service
{
	border-radius: $border-radius-base;
}



a.anchor {
	// content: "";
	display:block;
	position: relative;
	top: -120px;
	visibility: hidden;
}



/* Color Schemes
-----------------------------------

// http://www.webdesigndev.com/40-cold-colour-palettes-for-winter-inspired-web-designs/
// Raspberry Frost
$scheme-700: $google-light-green-700;
$scheme-500: $google-light-green-500;
$scheme-300: $google-light-green-300;
$scheme-100: $google-light-green-100;
$scheme-50: $google-light-green-50;
$accent-500: $google-pink-500;
$accent-300: $google-pink-300;

$text-color: #201a1f;
$link-color: #b20064;
$border-color: #b1c1c5;
$site-inner-bg: #d9e3de;
$footer-widgets-bg: #2c2429;
$site-footer-bg: #201a1f;

body.theme-raspberry-frost {

	color: $text-color;

	@import 'color-scheme'

}

*/



/*
Media Queries
--------------------------------------- */


@import 'max-width-1200';
@import 'max-width-960';
@import 'max-width-782';
@import 'max-width-767';
@import 'max-width-480';

/* Dev
.content {background-color: pink }
.sidebar-primary { background-color: green }
.sidebar-secondary { background-color: orange }

.footer-widgets .widget-area { background-color: red; }
*/